body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0px;
	padding: 0px;
  color: white;
  background-color: #161B21;
}

.my-navbar {
  display: flex;
  background-color: #1E2834;
  padding: 15px 10px;
  text-align: end;
}

.nav-link {
	margin: 0px 20px;
  font-size: 20px;
	color: white;
	text-decoration: none;
	text-decoration-color: white;
}

.container {
  max-width: fit-content;
}

.title {
  text-align: center;
  padding: 30px;
}

.article-container {
  text-align: center;
  padding: 25px;
  margin: 50px;
  height: fit-content;
  background-color: #363f49;
}

.comment-container {
  text-align: center;
  padding: 25px;
  margin: 50px;
  height: fit-content;
}

input {
	border: none;
  margin-inline: auto;
	padding: 15px 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 25px;
  margin: 50px;
}

.separation-line {
  align-content: flex-start;
  background-color: white;
  width: 250px;
}

.card-container {
  display: grid;
  grid-template: '. . .';
}

.card-subtitle {
  font-style: italic;
  display: flex;
  justify-content: space-between;
}

.card-content {
  display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
  overflow: hidden;
}

.card-body {
  padding: 5px 20px;
}

.card-link {
  color: peru;
  font-weight: bold;
}

.footer {
	position: fixed;
  bottom: 0;
  width: 70px;
  height: 30px;
  color: white;
  background-color: #1E2834;
}

.footer-btn {
  border: transparent;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-container input {
	padding: 15px 10px;
  margin: 5px;
}

.search-container button {
	padding: 15px 10px;
  margin: 5px;
}