body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0px;
	padding: 0px;
  color: white;
  background-color: #161B21;
}

.navbar {
  display: flex;
  background-color: #1E2834;
  padding: 15px 10px;
  text-align: end;
}

.nav-link {
	margin: 0px 20px;
  font-size: 20px;
	color: white;
	text-decoration: none;
	text-decoration-color: white;
}

.title {
  text-align: center;
  padding: 20px;
}

.footer {
	position: fixed;
  bottom: 0;
  width: 70px;
  height: 30px;
  color: white;
  background-color: #1E2834;
}

.footer-btn {
  border: transparent;
}